.section.join-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.page-title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  
}

.input-wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-title label {
  font-weight: 600;
  margin-bottom: 6px;
  color: black;
  font-size: 18px;
}

.input-item3 input{
 
  background-color: #f4f7fe;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-item input[type="text"]:focus,
.input-item input[type="password"]:focus {
  
  outline: none;
}

.input-msg {
  margin-top: 4px;
  font-size: 13px;
  min-height: 18px;
  color: #666;
  transition: color 0.3s ease;
}

.input-msg.valid {
  color: blue;
}

.input-msg.invalid {
  color: blue;
}

.join-button-box {
  text-align: center;
  margin-top: 40px;
}

.btn-primary.lg {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary.lg:hover {
  background-color: #2563eb;
}

.input-title {
  white-space: nowrap; /* 줄바꿈 방지 */
  width: max-content;  /* 내용 길이에 맞춰 최소 너비 */
}